.section {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    h5{
        font-size:48px;
        margin:10px 0;
    }
}

.section1 {
    position: relative;
    
    height:33vh;
    .myNameTitleAll {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        .myNameTitle {
            font-size: 48px;
            text-align: center;
            border-bottom: 3px solid #222;
            height: 66px;
            width: 350px;
            padding: 8px;
            overflow: hidden;
        }

        .communityIcon {
            text-align: center;

            i {
                font-size: 32px;
                color: #222;
                margin: 10px;
                cursor: pointer;
                color: #81C7D4;
            }
        }
    }
}

.section2 {
    background-color: #fff;
    
    .section2Link{
        margin:10px 0px;
    }
}

.top{
    padding:8px;
    font-size:32px;
    text-align: right;
}