<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Vue 匯率計算</title>
</head>

<body>

   <div class="app">
      <label for="money">輸入台幣：</label><input type="text" id="money" v-model="NT">
      <div>日幣：{{JP}}</div>
      <div>美金：{{EU}}</div>
      <div>現在秒數：<p>{{now}}</p></div>
      <label for="">a體重</label><input type="text" v-model="aHeavy">
      <label for="">b體重</label><input type="text" v-model="bHeavy">
      <p>{{whosFat}}</p>
   </div>

   

   <script src="../js/vue2.6.11.js"></script>
   <script src="vueMoney.js"></script>
</body>

</html>