<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Whale's Chart Js</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <style>
      .canvasWindow {
         width: 100%;
         margin: 0 auto;
         text-align: center;
         padding: 20px;
      }

      #randomizeData {
         margin-top: 15px;
      }

      button {
         width: 45%;
         margin-bottom: 15px;
      }

      .dountButton {
         text-align: center;
      }
   </style>
</head>

<body>
   <div class="container">
      <div class="canvasWindow">
         <canvas id="chart-area" width="400" height="400"></canvas>
         <button id="randomizeData" class="btn btn-dark">重載</button>
      </div>
      <div class="canvasWindow">
         <canvas id="chart-area-dount" width="400" height="400">
               <p>Hello Fallback World</p>
         </canvas>
      </div>
      <div class="dountButton">
         <button id="randomizeData-dount" class="btn btn-dark">重載</button>
         <button id="addDataset-dount" class="btn btn-dark">增加圈圈</button>
         <button id="removeDataset-dount" class="btn btn-dark">減少圈圈</button>
         <button id="addData-dount" class="btn btn-dark">增加顏色</button>
         <button id="removeData-dount" class="btn btn-dark">減少顏色</button>
         <button id="changeCircleSize-dount" class="btn btn-dark">半圓/圈圈切換</button>
      </div>
   </div>
   <div class="canvasWindow" style="display:none;">
      <canvas id="myChartBar" width="400" height="400"></canvas>
   </div>
   <div class="canvasWindow" style="display:none;">
      <canvas id="myChartPie" width="400" height="400"></canvas>
   </div>
   <div class="canvasWindow" style="display:none;">
      <canvas id="myChartLine" width="400" height="400"></canvas>
   </div>
   <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <script>
      var allDateSets;
      allDateSets = [{
         label: '# of Votes',
         data: [12, 19, 3, 5, 2, 3],
         backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
         ],
         borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
         ],
         borderWidth: 1
      }];

      window.chartColors = {
         red: 'rgb(255, 99, 132)',
         orange: 'rgb(255, 159, 64)',
         yellow: 'rgb(255, 205, 86)',
         green: 'rgb(75, 192, 192)',
         blue: 'rgb(54, 162, 235)',
         purple: 'rgb(153, 102, 255)',
         grey: 'rgb(201, 203, 207)'
      };

      //bar
      var ctxBar = document.getElementById('myChartBar');
      var myChart = new Chart(ctxBar, {

         type: 'bar',
         data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: allDateSets
         },
      });
      //pie
      var ctxPie = document.getElementById("myChartPie");
      var myPieChart = new Chart(ctxPie, {
         type: 'pie',
         data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: allDateSets
         },
      });

      //line
      var ctxLine = document.getElementById("myChartLine");
      var myLineChart = new Chart(ctxLine, {
         type: 'line',
         data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: allDateSets
         },
      });

      //reset sample
      var randomScalingFactor = function () {
         return Math.round(Math.random() * 100);
      };

      var config = {
         type: 'pie',
         data: {
            datasets: [{
               data: [
                  randomScalingFactor(),
                  randomScalingFactor(),
                  randomScalingFactor(),
                  randomScalingFactor(),
                  randomScalingFactor(),
               ],
               backgroundColor: [
                  window.chartColors.red,
                  window.chartColors.orange,
                  window.chartColors.yellow,
                  window.chartColors.green,
                  window.chartColors.blue,
               ],
               label: 'Dataset 1'
            }],
            labels: [
               'Red',
               'Orange',
               'Yellow',
               'Green',
               'Blue'
            ]
         },
         options: {
            responsive: true
         }
      };

      window.onload = function () {
         var ctxSample = document.getElementById('chart-area').getContext('2d');
         window.myPie = new Chart(ctxSample, config);
         var ctxDount = document.getElementById('chart-area-dount').getContext('2d');
         window.myDoughnut = new Chart(ctxDount, configDount);
      };

      document.getElementById('randomizeData').addEventListener('click', function () {
         config.data.datasets.forEach(function (dataset) {
            dataset.data = dataset.data.map(function () {
               return randomScalingFactor();
            });
         });
         window.myPie.update();
      });

      // reset 2
      var configDount = {
         type: 'doughnut',
         data: {
            datasets: [{
               data: [
                  randomScalingFactor(),
                  randomScalingFactor(),
                  randomScalingFactor(),
                  randomScalingFactor(),
                  randomScalingFactor(),
               ],
               backgroundColor: [
                  window.chartColors.red,
                  window.chartColors.orange,
                  window.chartColors.yellow,
                  window.chartColors.green,
                  window.chartColors.blue,
               ],
               label: 'Dataset 1'
            }],
            labels: [
               'Red',
               'Orange',
               'Yellow',
               'Green',
               'Blue'
            ]
         },
         options: {
            responsive: true,
            legend: {
               position: 'top',
            },
            title: {
               display: true,
               text: 'Chart.js Doughnut Chart'
            },
            animation: {
               animateScale: true,
               animateRotate: true
            }
         }
      };
      document.getElementById('randomizeData-dount').addEventListener('click', function () {
         configDount.data.datasets.forEach(function (dataset) {
            dataset.data = dataset.data.map(function () {
               return randomScalingFactor();
            });
         });
         window.myDoughnut.update();
      });

      var colorNames = Object.keys(window.chartColors);

      document.getElementById('addDataset-dount').addEventListener('click', function () {
         var newDataset = {
            backgroundColor: [],
            data: [],
            label: 'New dataset ' + configDount.data.datasets.length,
         };
         for (var index = 0; index < configDount.data.labels.length; ++index) {
            newDataset.data.push(randomScalingFactor());
            var colorName = colorNames[index % colorNames.length];
            var newColor = window.chartColors[colorName];
            newDataset.backgroundColor.push(newColor);
         }
         configDount.data.datasets.push(newDataset);
         window.myDoughnut.update();
      });

      document.getElementById('addData-dount').addEventListener('click', function () {
         if (configDount.data.datasets.length > 0) {
            configDount.data.labels.push('data #' + configDount.data.labels.length);
            var colorName = colorNames[configDount.data.datasets[0].data.length % colorNames.length];
            var newColor = window.chartColors[colorName];
            configDount.data.datasets.forEach(function (dataset) {
               dataset.data.push(randomScalingFactor());
               dataset.backgroundColor.push(newColor);
            });
            window.myDoughnut.update();
         }
      });

      document.getElementById('removeDataset-dount').addEventListener('click', function () {
         configDount.data.datasets.splice(0, 1);
         window.myDoughnut.update();
      });

      document.getElementById('removeData-dount').addEventListener('click', function () {
         configDount.data.labels.splice(-1, 1); // remove the label first
         configDount.data.datasets.forEach(function (dataset) {
            dataset.data.pop();
            dataset.backgroundColor.pop();
         });
         window.myDoughnut.update();
      });

      document.getElementById('changeCircleSize-dount').addEventListener('click', function () {
         if (window.myDoughnut.options.circumference === Math.PI) {
            window.myDoughnut.options.circumference = 2 * Math.PI;
            window.myDoughnut.options.rotation = -Math.PI / 2;
         } else {
            window.myDoughnut.options.circumference = Math.PI;
            window.myDoughnut.options.rotation = -Math.PI;
         }
         window.myDoughnut.update();
      });
   </script>
</body>

</html>